<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>editRecord</title>
</head>
<body>
<div th:insert="layout/header"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Odtwórz utwór</div>
        <div class="panel-body">
            <form class='needs-validation' th:object="${record}">
                <div class="col">
                    <label for="name">Nazwa</label>
                    <input type="text" id="name" name="name" th:field="*{name}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="author">Autor</label>
                    <input type="text" id="author" name="author" th:field="*{author}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="genre">Gatunek</label>
                    <input type="text" id="genre" name="genre" th:field="*{genre}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="albumName">Album</label>
                    <input type="text" id="albumName" name="albumName" th:field="*{albumName}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="url">URL</label>
                    <input type="url" id="url" name="url" th:field="*{url}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="length">Długość</label>
                    <input type="text" id="length" name="length" th:field="*{length}" class="form-control" readonly>
                </div>
                <div class="col">
                    <br /><label for="playbacks">Ilośc odtworzeń</label>
                    <input type="text" id="playbacks" name="playbacks" th:field="*{playbacks}" class="form-control" readonly>
                </div>
            </form>
            <div class="col">
                <br /><a th:href="@{/records}" class="btn btn-secondary">Powrót</a>
            </div>
        </div>
    </div>
</div>
<div th:insert="layout/footer"></div>
</body>
</html>