<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <title>Historia odtwarzania</title>
</head>

<body>
<div th:insert="layout/header"></div>

<div class="container-fluid">

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col"> Nazwa </th>
      <th scope="col"> Wykonawca </th>
      <th scope="col"> Gatunek </th>
      <th scope="col"> Album </th>
      <th scope="col"> Czas odtworzenia </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${historyList.empty}">
      <td colspan="5"> Historia jest pusta. </td>
    </tr>
    <tr th:each="history : ${historyList}">
      <td><span th:text="${history.record.name}"> Nazwa </span></td>
      <td><span th:text="${history.record.author}"> Wykonawca </span></td>
      <td><span th:text="${history.record.genre}"> Gatunek </span></td>
      <td><span th:text="${history.record.albumName}"> Album </span></td>
      <td><span th:text="${history.timePlayed}"> Czas odtworzenia </span></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:insert="layout/footer"></div>
</body>
</html>